#category_ctn,
#pullOut{
    margin-top: auto !important;
}

.tb-container{
    border: 1px solid #ccc;
}

.top-heading{
    background-color: #F5F5DC;
    padding: 10px 50px;
    border-bottom: 1px solid #ccc;
}

.order-body{
    height: auto;
    background-color: rgb(243, 242, 242) !important;
    padding: 10px 50px !important;
}

.order-body h4{
    font-size: 16px;
    text-transform: none;
}

#totalOrderPrice{
    color: #1EA43A; 
    font-size: 16px;
    font-weight: bolder;
}

.confirmation{
    display: inline; 
    color: rgb(8, 138, 30); 
    font-size: 13px;
}

.order-table{
    width: 100%;
    background-color: rgb(243, 242, 242) !important;
    line-height: 3;
}

.order-table tbody{
    border-bottom: 1px solid #ccc;
}

.first-child{
    padding-left: 50px;
}

.order-image{
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

.cartinput-number{
    width: 30%;
    height: 35px;
    padding-left: 10px;
}

@media only screen and (max-width: 665px){
    .img-container img{
        width: 100px !important;
        height: 100px;
        margin-top: -65px;
    }

    .order-body{
        margin-top: 0 !important;
        padding: 5px !important;
    }

    .order-table{
        line-height: 1.5 !important;
    }

    .first-child{
        padding-left: 0 !important;
    }

    .order-table thead tr,
    .order-table tbody tr{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .order-table thead tr th{
        border-bottom: 1px solid #ccc;
        text-align: start !important;
    }

    .order-table tbody tr{
        line-height: 1.6;
        margin-top: -10.8rem;
        float: right;
    }

    .order-product thead tr{
        margin-top: 3rem;
    }

    .order-product .first-th-class{
        margin-bottom: 65px;
        border: 0;
    }

    .order-product tbody tr{
        align-items: end;
    }

    .cartinput-number{
        width: 16% !important;
        height: 20px;
        margin-left: 17rem;
    }
}