.categoryCtn,
.pullOut{
    display: none;
}

.main-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 50px 0px;
}

.main-ctn .icon-border{
    border-radius:200px; 
    height:200px; 
    width:200px; 
    background: #B211C961; 
    margin:0 auto;
}

.main-ctn  h1 {
    color: #B211C961;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.orderIDctn,
.PmCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #464747;
    background-color: #EFEFEF;
    font-weight: 300;
    font-size: 12px;
    border-radius: 50px;
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-ctn p {
    color: #404F5E;
    font-size: 20px;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.main-ctn .fa-check {
    color: #ffffff;
    font-size: 100px;
    line-height: 200px;
    margin-left: 47px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    /* margin: 0 auto; */
}

.card a {
    color: #E46464;
    display: flex;
    justify-content: center;
}

.card a:hover {
    font-size: 17px;
    color: #6d6bf0;
}

@media only screen and (max-width:665px){
    .main-ctn{
        margin-top: 30px !important;
    }
}