{% extends 'admin/adminPanel.html' %}
{% load static %}

{% block title %}
Giftholic- orderDelete
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            
            <p> Are you sure you want to delete "{{item}}" ?</p>

            <form method="POST" action="{% url 'delete_order' item.id %}">
                {% csrf_token %}
    
                <a href="{% url 'admindashboard' %}" class="btn btn-secondary ml-5"> Cancel </a>

                <input type="submit" class="btn btn-danger" name="Confirm" value="Confirm">
            </form>

        </div>
    </div>
</div>
{% endblock %}