{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Giftholic- Cart
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/display-style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/cart-style.css' %}" type="text/css">

<div class="container cart-content">
    <div class="row mb-5">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Continue Shopping</a>
                <br>
                <br>
                <table class="table text-center">
                    <tr>
                        <th>
                            <h5>Items: <strong>{{ order.get_cart_items }}</strong></h5>
                        </th>
                        <th>
                            <h5>Total: <span id="totalOrderPrice"> <strong>Rs{{ order.get_cart_total }}</strong></span></h5>
                        </th>
                        <th>
                            <button onclick="validateForCheckout()" class="btn btn-success ">Checkout</button>
                        </th>
                    </tr>
                </table>
            </div>
            <br>

            <div class="box-element cart-element">
                <div class="cart-row-1 d-flex mb-2">
                    <div style="flex:2;" class="blank-field"></div>
                    <div style="flex:2;" class="item-field"><strong>Item</strong></div>
                    <div style="flex:1;"><strong>Price</strong></div>
                    <div style="flex:1;" class="qty-cart"><strong>Quantity</strong></div>
                    <div style="flex:1;"><strong>Total</strong></div>
                    <div style="flex:1" class="blank-field-1"></div>
                </div>

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2;">
                        <img class="row-image" src="{{item.product.imageURL}}" alt="{{item.product.name}}">
                    </div>
                    <div style="flex:2;">{{item.product.name}}</div>
                    <div style="flex:1;">Rs {{item.product.price}}</div>
                    <div style="flex:1;">
                        <p class="quantity">{{item.quantity}}</p>
                        <div class="quantity">
                            <i data-product="{{item.product.id}}" data-action="add"
                                class="fa fa-caret-up chg-quantity update-cart"></i>
                            <i data-product="{{item.product.id}}" data-action="remove"
                                class="fa fa-caret-down chg-quantity update-cart"></i>
                        </div>
                    </div>
                    <div style="flex:1;" class="total-cart">Rs {{item.get_total}}</div>
                    <div style="flex:1;" class="cart-remove-field">
                        <a href="#myModal" class="remove-btn text-danger" data-toggle="modal">Remove</a>
                        <!-- <a style="color: red; cursor:pointer;" class="update-cart" data-product="{{item.product.id}}" data-action="remove">Remove
                        </a> -->
                    </div>
                </div>

                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header flex-column">
                                <h6 class="modal-title w-100">Are you sure you want to remove your cart items?</h6>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                <button type="button" class="btn btn-danger update-cart"
                                    data-product="{{ item.product.id }}" data-action="deleteItem">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="msgChk" class="msg-box hide alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Hey!</strong> Your shopping cart is empty, cannot proceed to checkout.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}