{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Giftholic- Checkout
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/display-style.css' %}" type="text/css">
<div class="container checkout-content">
    <div class="row mb-5">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form action="javascript:void(0);" id="form" name="Form">
                    {% csrf_token %}
                    <div id="shipping-info">
                        <h2> Shipping Information </h2>
                        <hr>
                        <div class="form-field">
                            <input required type="text" class="form-control" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input required type="text" class="form-control" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input required type="text" class="form-control" name="street" placeholder="Street..">
                        </div>
                        <div class="form-field">
                            <input required type="text" class="form-control" name="wardno" placeholder="Ward No..">
                        </div>
                        <div class="form-field">
                            <input required type="text" class="form-control" name="zipcode" placeholder="Zip Code..">
                        </div>
                    </div>
                    <div id="userinfo">
                        <hr>
                        <div class="form-field">
                            <input required type="text" class="form-control" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required type="email" class="form-control" name="email" placeholder="Email..">
                        </div>
                        <hr>
                    </div>
                    <!-- <input id="form-button" type="submit" class="btn btn-success btn-block" value="Continue"> -->
                    <br>
                    
                        <h6>Payment Method</h6>
                        <select style="width: 200px;" name="PaymentMethod" id="pm">
                                <option value="Cash on Delivery" name="Cash on Delivery">Cash on Delivery</option>
                                <option value="Khalti" name="Khalti">Khalti</option>
                        </select>
                            
                        <button id="make-payment" class="payBtn btn btn-block mt-3" data-pm='COD'>Place Order</button>
                   
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
                <hr>
                <h3> Order Summary </h3>
                {% for item in items %}
                <hr>
                <div class="cart-row checkout-row d-flex">
                    <div style="flex:1;"><img class="check-image" src="{{item.product.imageURL}}" alt=""></div>
                    <div style="flex:2;">
                        <p> {{item.product.name}}</p>
                    </div>
                    <div style="flex:1;">
                        <p>Rs. {{item.product.price}}</p>
                    </div>
                    <div>
                        <p>X{{item.quantity}}</p>
                    </div>
                </div>
                {% endfor %}
                <h6><strong> Items: {{order.get_cart_items}}</strong></h6>
                <h6><strong> Total: Rs {{order.get_cart_total}} </strong></h6>
            </div>
        </div>
    </div>
    <div id="msgChk" class="msg-box d-none alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hey!</strong> Please complete the shipping information.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'

    var paymentCOD = document.getElementById('make-payment')
    paymentCOD.addEventListener('click', function(){
        saveShippingInfo("COD")
    })

    function saveShippingInfo(pm){
        var order = {{order}};
        var email = document.forms["Form"]["email"].value;
        var address = document.forms["Form"]["address"].value;
        var city = document.forms["Form"]["city"].value;
        var street = document.forms["Form"]["street"].value;
        var wardno = document.forms["Form"]["wardno"].value;
        var zipcode = document.forms["Form"]["zipcode"].value;
   
        var pm = pm;
        var orderID = {{order.id}};

        if (email == "" || address == "" || city == "" || street == "" || wardno == "" || zipcode == "") {
            console.log("false")
            document.getElementById('msgChk').classList.remove('d-none')
        }
        else{
            $.ajax(
                {
                    type:'get',
                    url:'saveShipping',
                    data:{
                        order: order,
                        email:email,
                        address:address, 
                        city:city,
                        street:street, 
                        wardno:wardno, 
                        zipcode:zipcode,
                        pm:pm
                    },
                    success:function(){
                        console.log("Checkout Success")
                        if (pm == "COD"){
                            location.href="/paymentsuccess/"+orderID+"/"+0
                        }
                        // alert("Data sent for saving")
                    }
                }
            )
        }
    }
</script>

{% endblock content %}