{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
Payment-Success
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/payment-style.css' %}" type="text/css">
<div class="container">
    <div class="main-ctn">
        <div class="card">
            <div class="icon-border">
                <i class="fa fa-check"></i>
            </div>
            <h1>Order Success</h1>
            <div class="orderIDctn">
                <h3 class="pt-2">ORDER : {{getOrder}}</h3>
            </div>
            <div class="PmCtn">
                {% if pm == 0 %}
                <h3 class="pt-1">Payment Option : Cash on delivery</h3>
                {% endif %}
            </div>

            {% if pm == 0 %}
            <p>Thank you for shopping with us. 
                You have a total payment of Rs. {{getOrder.get_cart_total}} only <i class="fa fa-smile text-warning"></i>.
                <br />Please check your email for further
                details</p>
            {% endif %}
            <a href="{% url 'index' %}">
                Back to Home
            </a>

        </div>
    </div>
</div>
{% endblock content %}